#root {
    height: 100vh;
}

#body-container {
    background-color: lightseagreen;
    min-height: 100%;
    min-height: 100.5vh;
    position: relative;
    top: -7.5vh;
}

#container {
    min-height: 100%;
    min-height: 100vh;
}

#container > div {
    background-color: white;
    width: 60%;
    padding: 30px 20px 20px;
    border-radius: 10px;
}

@media (max-width: 799px) {
    #container > div {
        width: 100%
    }
}

@media (min-height: 1020px) {
    #body-container, #container {
        min-height: 103.5vh;
    }
}